//------------------//
//			config			//


//------------------//

.dropdown {
	position:absolute;
	top:calc(50% + 10px);
	right:-37px;
	width: 150px;
	background:$WHITE;
	box-shadow: 0 0 6px rgba(0,0,0, .2);
	border-radius: 4px;
	z-index:10;
	display:none;
	&:before {
		content:"";
		position: absolute;
		top: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 0; 
	  height: 0; 
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 5px solid $WHITE;
	}

	@at-root #{&}__item {
		display: block;
		border-bottom: 1px solid $LIGHTEST_GREY;
		&:last-child {
			border:none;
		}
	}
	@at-root #{&}__link {
		display: block;
		width: 100%;
		padding: 12px 20px;
		font-size: $FONT_SIZE_SM;
		color: $TEXT_COLOR;
	}
}